.register {
    font-family: var(--bebasNeue);
    min-height: 82vh;
}

.register .form-container {
    border: 1px solid #333;
    border-radius: 1rem;
    padding: 20px;
    min-height: 200px;
    width: 90%;
    margin: 2rem auto;
}


.register .form-container form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register .form-container form label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}

.register .form-container form input {
    padding: 10px;
    margin-bottom: .5rem;
}

.register .form-container form button {
    cursor: pointer;
    padding: 7px 14px;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    font-family: var(--bebasNeue);
}

.register .form-container form input,
.register .form-container form button {
    border-radius: 5px;
    outline: none;
}

.register .form-container form .error {
    color: #dc3545;
    font-size: 1.1rem;
}

.register .form-container form .success {
    width: 90%;
    background-color: #198754;
    height: 50px;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border-radius: .5rem;
    font-size: 1.1rem;
}

@media screen and (min-width:692px) {
    .register .form-container form label {
        font-size: 1.3rem;
    }

    .register .form-container form input {
        width: 70%;
    }
}

@media screen and (min-width:992px) {
    .register .form-container {
        width: 50%;
    }

    .register .form-container form input {
        width: 50%;
    }
}