.selected {
  min-height: 80vh;
}

.selected .head {
  text-align: center;
  font-family: var(--bebasNeue);
}

.selected .head h1 {
  color: var(--redColor);
  margin: .2rem;
}

.selected .head img {
  border: 1px solid var(--bs-cyan);
  border-radius: 50%;
  width: 20%;
}

.selected .head .loginBtn {
  box-sizing: border-box;
  position: relative;
  margin-right: .5rem;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
}

.selected .head .loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.selected .head .loginBtn:focus {
  outline: none;
}

.selected .head .loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.selected .head .loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}

.selected .head .loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.selected .head .loginBtn--facebook:hover,
.selected .head .loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.selected .head .loginBtn--google {
  background: #DD4B39;
}

.selected .head .loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=') 8px 7px no-repeat;
}

.selected .head.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.selected .main {
  padding: 0 2rem;
  box-sizing: border-box;
  font-family: var(--sourceSerif);
}

@media screen and (min-width:992px) {
  .selected .main {
    padding: 0 5rem;
  }
}

.selected .main hr {
  background-color: var(--bs-cyan);
  margin: 0 auto 2rem auto;
  height: 3px;
}



.selected .main section p {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--colorDark);
}

.selected .main p {
  line-height: 1.8;
  font-size: 1.25rem;
  color: var(--redColor);
}

.selected .main a {
  line-height: 1.8;
  font-size: 1.3rem;
  color: var(--redColor);
  text-underline-offset: 6px;
}